<body bgcolor="#ffffff" style="margin: 0; padding: 0">
	<center>
		<div style="width: 50%; padding: 10px; background-color: #E7E7E7">
			<div style=" text-align: justify; padding: 50px 0">
				<center>
					<b>
					<font style="font-family: arial; font-size: 25px; color: #353535">RESET PASSWORD BISA NETWORK</font>
					</b>
				</center>
				<br><br>
				<br><br>
				<font style="font-family: arial; color: #353535">
					Hai {{nama}}
					<br>
					<br>
					Kami menerima permintaan untuk memulihkan password. <br><br>
					Password sementara anda <b>{{password}}</b> <br><br>
					Silahkan gunakan password sementara untuk masuk ke akun BISA Network
				</font>
			</div>

			<div style=" text-align: justify; background-color: #fff; padding: 10px">
				<font style="font-family: arial; font-size: 16px; color: #FF1818">
					Email ini dikirim otomatis !
				</font>
				<br>
				<br>
				<font style="font-family: arial; font-size: 12px; color: #888888">
					Mohon jangan membalas email ini.
				</font>
			</div>
		</div>
	</center>
</body>