<html>
<body>
<!-- >>>>>>>>>>>>>>>>>>>> Header <<<<<<<<<<<<<<<<<<<< -->
<table align="center" width="70%" bgcolor="339CFF">
	<tr align="center">
		<br>
		<img src="https://www.tampil.id/assets/flat-ui/images/New%20Logo%20(Without%20BG).ico" width="25px"/>
		<br>
		<br>
	</tr>
	<tr align="center">
		<img src="https://bisa.ai//email/info.png" width="170px"/><br><br>
	</tr>
</table>

<!-- >>>>>>>>>>>>>>>>>>>> Body <<<<<<<<<<<<<<<<<<<< -->
<table align="center" width="70%" bgcolor="fffff">
	<tr align="center">
		<hr align="center"color="#339CFF">
	</tr>
	<tr align="left">
		<br>
		<center> <h1>Layanan Meet Up</h1></center>
		<p style="font-size: 18px; padding: 0 40px">
			Terima kasih telah menggunakan <font color="339CFF">Meet Up</font>, layanan anda akan berakhir <b>1 Hari</b> lagi.
			<br>
		</p>
		<br>
		<br>
	</tr>
	<tr align="left">
		<p>
			<i style="padding: 0 40px">Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email ini.</i><br>
			<h3 style="color: #339CFF; padding: 0 40px;">Meet Up</h3>
		</p>
	</tr>
</table><br>
<!-- >>>>>>>>>>>>>>>>>>>> Footer <<<<<<<<<<<<<<<<<<<< -->

<table align="center" width="70%" bgcolor="90C9FF">
	<tr align="center">
		<h2 align="center">Temukan Kami</h2>
	</tr>
	<tr align="center">
		Alamat: Jl. Raya RS Fatmawati No. 7 Gandaria Utara, Kebayoran Baru, Jakarta Selatan 12140, Indonesia <br><br>
	</tr>
	<tr align="center">
		<table width="60%" style="border-collapse: collapse;">
			<tr>
				<td align="left" style="font-size: 14px">+622127000678</td>
				<td align="right">
					<!-- <img src="https://tellhealth.ai/icon_fb.png" width="25px"/> -->
					<a href="https://www.linkedin.com/company/pt-sprint-asia-technology/"><img src="https://tellhealth.ai/icon_in.png" width="25px"/></a>
					<a href="https://www.instagram.com/"><img src="https://tellhealth.ai/icon_ig.png" width="25px"/></a>
					<a href="https://www.youtube.com/"><img src="https://tellhealth.ai/icon_yt.png" width="25px"/></a>
				</td>
			</tr>
			<tr>
				<td align="left" style="font-size: 14px">info@sprintasia.co.id</td>
				<td align="right" style="font-size: 14px">Copyright &#169; 2021 | <b>Meet Up</b></td>
		</table>
	</tr><br><br><br>
</table>

</body>
</html>